@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

:root{
    --color-azul-claro: #80b9c1;
    --color-verde-azulado: #387b83;
    --color-cinza: #97a3ad;
    --color-cinza-claro: #d6dce5;
    --color-preto:#131c24;
    --color-azul: #1c2a36;
}
body{
    background-color: var(--color-preto);
    color: var(--color-cinza-claro);
    font-family: "Roboto", sans-serif;
    width: 100%;
    overflow-x: hidden;
}
header{
    
    background: var(--color-azul);
    list-style: none;
    justify-content: space-between;
    align-items: center;
    
    font-size: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

#header-right, #header-center, #logo{
    flex: 1;
}
.navbar-toggler:focus{
    outline: none;
}

.btn-outline-success{
    --bs-btn-color: var(--color-verde-azulado);
    --bs-btn-border-color: var(--color-verde-azulado);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--color-verde-azulado);
    --bs-btn-hover-border-color: var(--color-verde-azulado);
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--color-verde-azulado);
    --bs-btn-active-border-color: var(--color-verde-azulado);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--color-verde-azulado);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--color-verde-azulado);
    --bs-gradient: none;
}

.material-symbols-outlined{
    color: rgba( 255, 255, 255, 0.8);
}
   
}
#header-right a{
    font-size: 20px;
    border-radius: 10px;
}

#btn-entrar{
    background-color: var(--color-azul-claro);
    color: var(--color-azul);
    transition: 0.2s;
}
#btn-entrar:hover{
    transition: 0.2s;
    color: var(--color-cinza-claro);
}


#btn-registrar{
    transition: 0.2s;
    border: 2px solid var(--color-cinza);
}
#btn-registrar:hover{
    transition: 0.2s;
    border: 2px solid var(--color-azul-claro);
    color: var(--color-azul-claro);
}

#header-right{
    text-align: right;
}
#header-center{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
}
#header-center a{
    border: 2px solid varvar(--color-verde-azulado);
    padding: 7px 10px;
    border-radius: 5px;
    transition: 0.2s;
}
#header-center a:hover{
    transition: 0.2s;
    color: var(--color-azul-claro);
}
#logo{
    text-align: left;
}
a{
    text-decoration: none;
    color: var(--color-cinza-claro);
}
a:visited{
    text-decoration: none;
    color: var(--color-cinza-claro);
}

/* MAIN */
/* SECTION 1 */

.s1-oferta{
    background-image: url(./img/img-oferta-abertura.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.s1-button-register{
    height: 80px;
    width: 220px;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: var(--color-preto);
    color: var(--color-cinza-claro);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s;
}
.s1-button-register:hover{
    transform: scale(1.2);
    transition: 0.5s;
}

.s1-oferta-info{
    text-align: center;
    color: var(--color-preto);
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.s1-oferta-info h3{
    font-size: 25px;
}
.s1-oferta-info h1{
    margin: 10px;
}

/* SECTION 2 */

.s2-comp{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 50px;
    height: 100vh;
    justify-content: center;
    align-content: center;
    padding: 50px;
}
.s2-comp .box-s2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    border: 2px solid var(--color-verde-azulado);
    color: var(--color-cinza-claro);
    background-color: var(--color-azul);
    border-radius: 10px;
    height: 40vh;
    width: 100%;
    transition: 0.5s;
}
.box-s2:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.s2-btn-vermais {
    padding: 20px 40px;
    font-size: 28px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #d6dce5;
    background-color: #387b83;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    margin: 20px;
}

.s2-btn-vermais:hover {
    background-color: #80b9c1;
    color: #131c24;
    opacity: 0.9;
    transform: scale(1.1);
}

.title-box-s2{
    padding: 15px;
}
.title-box-s2 h2{
    font-size: 22px;
}

.info-box-s2{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, auto);
    align-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}
.time-info-box-s2{
    grid-column: 1/3;
}

.s2-apostar{
    width: 30%;
    height: 50px;
    font-size: 18px;
    background-color: var(--color-verde-azulado);
    border: none;
    color: var(--color-cinza-claro);
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.s2-apostar:hover{
    background-color: var(--color-azul-claro);
    color: #131c24;
}

.s2-text-comp{
    text-align: center;
    grid-column: 1/4;
}
.s2-text-comp h1{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.s2-text-comp h2{
    margin: 15px;
    font-size: 28px;
}


/* FOOTER */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--color-azul);
    height: 150px;
    font-size: 18px;
}
footer p{
    margin: 5px;
}

#social-media{
    font-size: 26px;

}
#social-media i{
    margin: 10px;
    background-color: var(--color-cinza-claro);
    color: var(--color-azul);
    padding: 10px 12px;
    border-radius: 50%;
    cursor: pointer;
}

/* OUTROS */

.btn-support{
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    color: var(--color-preto);
    padding: 20px;
    border-radius: 50%;
    background-color: var(--color-azul-claro);
    cursor: pointer;
    transition: 0.3s
}
.btn-support:hover{
    transform: translateY(-10px);
    transition: 0.3s
}

input[type="checkbox"]:checked + label + .box-support{
    display: block;
}

#toggle{
    display: none;
}

.box-support{
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    height: 300px;
    background-color: var(--color-azul-claro);
    color: var(--color-azul);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: none;
}
.box-support h2{
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
.box-support-input{
    width: 100%;
    height: 80%;
    padding: 6px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}
.btn-send{
    display: flex;
    width: 100%;
    justify-content: end;
}
.box-support span{
    cursor: pointer;
    text-align: right;
    font-size: 25px;
    margin: 5px 0;
    transition: 0.2s;
}
.box-support span:hover{
    color: var(--color-cinza-claro);
    transition: 0.2s;
}

textarea{
    width: 100%;
    resize: none;
    outline: none;
}


.effect-shadow{
    text-shadow: 2px 2px 5px rgba(7, 64, 97, 0.979);
}
.font-corp{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

hr{
    border: 1px solid var(--color-verde-azulado);
    width: 100%;
}

@media screen and (max-width: 1000px){
    .s2-comp{
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 30px;
    }
    
    #logo{
        grid-row: 1/3;
    }


}

@media screen and (max-width: 700px) {

    #logo{
        grid-row: 1/3;
    }

}
