@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    background-color:#131c24;
    color: #d6dce5;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-top: 5%;
    background: url(img/login-background.jpg);
}

.header{
    display: flex;
    flex-flow: column;
}
.principal {
    display: flex;
    flex-flow: column wrap;
    margin-top: 100px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}


.c1 {
    background-color:#1c2a36;
    border-radius: 20px;
    border: 2px solid #387b83;
    padding: 60px;
}

.c2{
    margin-top: 1%;
    background-color: #1c2a36;
    border-radius: 10px;
    border: 2px solid #387b83;
    padding: 20px;
}



#texto{
    width: 200px;
    height: 40px;
    background-color:#1c2a36;
    color: #97a3ad;
    text-align: center;
    border: 1px solid #387b83;

}

#bc {
    width: 40%;
    height: 40px;
    font-size: 18px;
    background-color: #387b83;
    border: none;
    color: #97a3ad;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    transition: 0.5s;
}

#bc:hover{
    color: white;
}


#tamanho {
    font-size: 12px;
    color: white;
}

.ifpb {
    margin-top: 205px;
}




/*.lista{
    display: flex;
    justify-content: space-evenly;
    
} */