@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

:root {
    --color-azul-claro: #80b9c1;
    --color-verde-azulado: #387b83;
    --color-cinza: #97a3ad;
    --color-cinza-claro: #d6dce5;
    --color-preto: #131c24;
    --color-azul: #1c2a36;
}
body{
    background-color: var(--color-preto);
    color: var(--color-cinza-claro);
    font-family: "Roboto", sans-serif;
}
header{
    background-color: var(--color-azul);
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    font-size: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

#header-right, #header-center, #logo{
    flex: 1;
}
#header-right, #logo{
    margin: 0 50px;
}
#header-right a{
    font-size: 20px;
    background-color: var(--color-verde-azulado);
    color: var(--color-cinza-claro);
    border-radius: 5px;
    padding: 8px 15px;
    margin: 0 15px;
}
#header-right a:hover{
    background-color: var(--color-azul-claro);
}
#header-right{
    text-align: right;
}
#header-center{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
}
#header-center a{
    border: 2px solid varvar(--color-verde-azulado);
    padding: 7px 10px;
    border-radius: 5px;
    transition: 0.5s;
}
#header-center a:hover{
    transition: 0.5s;
    text-decoration: underline;
}
#logo{
    text-align: left;
    
}

a{
    text-decoration: none;
    color: var(--color-cinza-claro);
}
a:visited{
    text-decoration: none;
    color: var(--color-cinza-claro);
}



/* MAIN */

/* SECTION 1 */
.s1-content {
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    grid-template-rows: auto;
    height: 100vh;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.image-medina{
    background-image: url(../img/medina_background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon_with_text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#embates{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-preto);
    border-radius: 5px;
    margin: 10px;
    background-color: var(--color-azul);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.s1-list-embates {
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, var(--color-azul) 0%, var(--color-verde-azulado) 100%);
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.s1-list-title h2 {
    font-size: 24px;
    color: var(--color-cinza-claro);
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--color-cinza-claro);
}

.s1-item-embate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-preto);
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0;
    transition: 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.s1-item-embate p {
    color: var(--color-cinza-claro);
    font-weight: bold;
    font-size: 18px;
}

.s1-item-embate:hover {
    background-color: var(--color-azul-claro);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.ao_vivo_icon {
    color: darkred;
}
.s1-info{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto;
    width: 100%;
    height: 100vh;
}
/* SECTION 2 */
.s2-embates{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto;
    width: 100%;
    height: 100vh;
}

.image-onda{
    background-image: url(../img/onda.png);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 1;
    grid-row: 1 / 4;
}

div.jogadores{
    display: grid;
    justify-content: center;
    text-align: center;  
    margin: 0;
    padding: 0;
    grid-column: 2;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
}
div.jogadores p{
     
    font-size: 50px;
    width: 50%;
}

div.image-combate{
    height: auto;
    background-image: url(../img/combate.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 300px;
    width: 70%;
    height: 500px;
    justify-content: center;
}
/* SECTION 3 */

.s3-aovivo-embate{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto;
    width: 100%;
    height: 100vh;
}
.image-onda-pt2{
    background-image: url(../img/imageonda-pt2.png);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 1;
}

/* FOOTER */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--color-azul);
    height: 150px;
}
footer p{
    margin: 5px;
}

/* OUTROS */

hr{
    width: 100%;
    border: 1px solid var(--color-azul);
}