@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* HEADER */

* {
    box-sizing: border-box;
}

:root{
    --color-azul-claro: #80b9c1;
    --color-verde-azulado: #387b83;
    --color-cinza: #97a3ad;
    --color-cinza-claro: #d6dce5;
    --color-preto:#131c24;
    --color-azul: #1c2a36;
}
body{
    background-color: var(--color-preto);
    color: var(--color-cinza-claro);
    font-family: "Roboto", sans-serif;
    width: 100%;
    overflow-x: hidden;
}
header{
    background: var(--color-azul);
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    font-size: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

#header-right, #header-center, #logo{
    flex: 1;
}
#header-right, #logo{
    margin: 0 50px;
}
#header-right a{
    font-size: 20px;
    border-radius: 10px;
    padding: 8px 15px;
    margin: 0 15px;
}

#btn-entrar{
    background-color: var(--color-azul-claro);
    color: var(--color-azul);
    transition: 0.2s;
}
#btn-entrar:hover{
    transition: 0.2s;
    color: var(--color-cinza-claro);
}


#btn-registrar{
    transition: 0.2s;
    border: 2px solid var(--color-cinza);
}
#btn-registrar:hover{
    transition: 0.2s;
    border: 2px solid var(--color-azul-claro);
    color: var(--color-azul-claro);
}

#header-right{
    text-align: right;
}
#header-center{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
}
#header-center a{
    border: 2px solid varvar(--color-verde-azulado);
    padding: 7px 10px;
    border-radius: 5px;
    transition: 0.2s;
}
#header-center a:hover{
    transition: 0.2s;
    color: var(--color-azul-claro);
}
#logo{
    text-align: left;
}
a{
    text-decoration: none;
    color: var(--color-cinza-claro);
}
a:visited{
    text-decoration: none;
    color: var(--color-cinza-claro);
}


/* MAIN */
.c1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

.c1 h1 {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 6px;
    text-align: center;
}

.c1 h2 {
    font-size: 22px;
    margin: 6px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
#entrar {
    width: 5%;
    padding: 10px;
    background-color: #387b83;
    border: none;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.main {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.c1 {
    margin-top: 8%;
    color: #d6dce5;
}
.box-register{
    display: flex;
    flex-direction: column;
}

.box-register form input{
    margin: 3%;
}
input:focus {
    outline: none;
    border: none;
}
.box-register button{
    width: 100%;
    height: 40px;
    font-size: 18px;
    background-color: var(--color-verde-azulado);
    border: none;
    color: var(--color-cinza-claro);
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.box-register button:hover{
    background-color: var(--color-azul-claro);
}

form{
    flex-direction: column;
}


#bc {
    width: 100%;
    height: 50px;
    font-size: 18px;
    background-color:#387b83;
    border: none;
    color: #d6dce5;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

#bc:hover {
    background-color: var(--color-azul-claro);
}

#texto {
    width: 400px;
    height: 45px;
    background-color: #1c2a36;
    color: white;
    border: 2px solid  #387b83;
    border-radius: 8px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* FOOTER */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--color-azul);
    height: 150px;
    font-size: 18px;
}
footer p{
    margin: 5px;
}

#social-media{
    font-size: 26px;

}
#social-media i{
    margin: 10px;
    background-color: var(--color-cinza-claro);
    color: var(--color-azul);
    padding: 10px 12px;
    border-radius: 50%;
    cursor: pointer;
}

/* RESPONSIVIDADE */

@media screen and (max-width: 1000px){
    main .eventos-section{
        display: flex;
        flex-direction: column;
    }
    header{
        display: grid;
        grid-template-columns: repeat(2, 1fr);   
    }
    #header-right{
        display: flex;
        grid-column: 2;
        justify-content: end;
        margin: 10px 0;
    }
    #header-center{
        text-align: right;
    }
    #logo{
        grid-row: 1/3;
    }


}

@media screen and (max-width: 700px) {
    header{
        display: grid;
        grid-template-columns: repeat(2, 1fr);   
    }
    #header-right{
        display: flex;
        grid-column: 2;
        justify-content: end;
        margin: 10px 0;
    }
    #header-center{
        text-align: right;
    }
    #logo{
        grid-row: 1/3;
    }

}