@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

:root{
    --color-azul-claro: #80b9c1;
    --color-verde-azulado: #387b83;
    --color-cinza: #97a3ad;
    --color-cinza-claro: #d6dce5;
    --color-preto:#131c24;
    --color-azul: #1c2a36;
}
body{
    background-color: var(--color-preto);
    color: var(--color-cinza-claro);
    font-family: "Roboto", sans-serif;
    width: 100%;
    overflow-x: hidden;
}

/* HEADER */

header{
    background-color: var(--color-azul);
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    font-size: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.c1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#header-right, #header-center, #logo{
    flex: ;
}
#header-right, #logo{
    margin: 0 50px;
}
#header-right a{
    font-size: 20px;
    background-color: var(--color-verde-azulado);
    color: var(--color-cinza-claro);
    border-radius: 5px;
    padding: 8px 15px;
    margin: 0 15px;
}
#header-right a:hover{
    background-color: var(--color-azul-claro);
}
#header-right{
    text-align: right;
}
#header-center{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
}
#header-center a{
    border: 2px solid varvar(--color-verde-azulado);
    padding: 7px 10px;
    border-radius: 5px;
    transition: 0.5s;
}
#header-center a:hover{
    transition: 0.5s;
    text-decoration: underline;
}
#logo{
    text-align: left;
    
}
a{
    text-decoration: none;
    color: var(--color-cinza-claro);
}
a:visited{
    text-decoration: none;
    color: var(--color-cinza-claro);
}

/* MAIN */

#entrar {
    width: 5%;
    padding: 10px;
    background-color: #387b83;
    border: none;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.main {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 310px;
}

.c1 {
    color: white;
}



#bc {
    width: 60%;
    height: 50px;
    font-size: 18px;
    background-color: #131c24;
    border: none;
    color: #97a3ad;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    transition: 0.5s;
}

#bc:hover {
    color: white;
}

#texto {
    width: 100%;
    height: 45px;
    background-color: #1c2a36;
    color: white;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* FOOTER */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--color-azul);
    height: 150px;
}
footer p{
    margin: 5px;
}

/*background-color: #131c24;
border: 2px solid #387b83;
padding: 10px;
border-radius: 10px;

margin-top: 2%;
width: 20%;
padding: 5px;
*/



/* background: 
registro8-back
